@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
  --font-geist-mono: "Geist Mono", monospace;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
    --font-geist-mono: "Geist Mono", monospace;
  }
}

body {
  display: flex;
  justify-content: center;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}